:root {
   font-family: 'Karla', sans-serif;
    color: black;
  }

  h1 {
    font-family: 'Major Mono Display', monospace;
    padding: 10px;
  }

  h2, h4 {
    font-family: 'Major Mono Display', monospace;
    margin: 1rem;
  }

  
  link {
    color: black;
    text-decoration: none;
    margin: 1rem;
  }

  p {
    font-family: 'Karla', sans-serif;
  }

  .btn {
    color: black;
    margin: 1rem;
  }

  .btn:hover {
    color: white;
    background-color: black;
    transition: 0.4s;
}

.btn-submit {
  color: white;
  text-decoration: none;
}

  .blogTitle {
    justify-content: center;
    text-align: center;
  }

  .form-label {
    font-family: 'Karla', sans-serif;
  }

  .navbar {
    margin-bottom: 2vh;
  }

  .post-title {
    color: black;
  }


 


