:root {
   font-family: 'Karla', sans-serif;
    ;
  }

  h1 {
    font-family: 'Major Mono Display', monospace;
    padding: 10px;
  }

  h2, h4 {
    font-family: 'Major Mono Display', monospace;
  }

  
  link {
    color: black;
    text-decoration: none;
  }

  p {
    font-family: 'Karla', sans-serif;
  }

  .btn {
    color: black;
  }

  .blogTitle {
    justify-content: center;
    text-align: center;
  }

  .form-label {
    font-family: 'Karla', sans-serif;
  }

  .navbar {
    margin-bottom: 2vh;
  }

  .post-title {
    color: black;
  }


 


